<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
        <div class="mb-2 mb-md-0">
            © made by
            <a href="https://jant.tech" target="_blank" class="footer-link fw-bolder text-warning">JantTech</a>
        </div>
        <div>
            <a href="https://jant.tech/#a-propos-de-nous" class="footer-link me-4" target="_blank">A propos de nous</a>
        </div>
    </div>
</footer>